{{!--
SPDX-FileCopyrightText: 2022 embr <git@liclac.eu>

SPDX-License-Identifier: AGPL-3.0-or-later WITH LicenseRef-AppStore
--}}

{{page-title (t 'index.title')}}

<h2>{{t 'index.placeholder.heading'}}</h2>
<p>{{t 'index.placeholder.greeting'}}</p>
<ul>
  <table class="table">
    <tbody>
    {{#each @model.addrs as |addr|}}
      <tr class={{unless addr.isActive 'table-secondary'}}>
        <td>{{#if addr.isLocal}}{{t 'addr.is_local'}}{{/if}}</td>
        <td>{{addr.id}}</td>
        <td class="peer-data peer-data-up">
          ↑ {{format-number addr.bytesPerSecondSent unit='byte-per-second'
              unitDisplay='narrow' style='unit'}}
        </td>
        <td class="peer-data peer-data-down">
          ↓ {{format-number addr.bytesPerSecondRecv unit='byte-per-second'
              unitDisplay='narrow' style='unit'}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</ul>
