<div local-class="message {{@message.kind}}">
  {{#if (eq @message.kind 'text')}}
    <div local-class="icon">
      <User::Icon @user={{@message.sender}} />
    </div>
    <div local-class="bubble">
      <div local-class="sender">{{@message.sender.displayName}}</div>
      {{@message.content}}
      <div local-class="time">{{moment-from-now @message.timestamp}}</div>
    </div>
  {{/if}}

  {{#if (eq @message.kind 'create')}}
    room created
  {{/if}}
</div>